<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEATHER</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
<div class="container">
  <div class="columns">
    <div class="column col-3">
        <div container style="margin: 3px; 0px; 0px; 0px">
            <gallery>
                <img src="static/pexels-nancy-bourque-1209978-c.jpg" width="150" height="110">
                <img src="static/pexels-toni-ferreira-1518419-d.jpg" width="150" height="110">
                <img src="static/pexels-burst-374815-c.jpg" width="150" height="110">
                <img src="static/pexels-pixabay-262113-c.jpg" width="150" height="110">
                <img src="static/pexels-pixabay-210017-d.jpg" width="150" height="110">
                <img src="static/pexels-pixabay-40142-d.jpg" width="150" height="110">
                <img src="static/pexels-nappy-936048.jpg" width="150" height="110">
                <img src="static/pexels-nout-gons-378570-b.jpg" width="150" height="110">
                <img src="static/pexels-marta-wave-5876663-d.jpg" width="150" height="110">
                <img src="static/pexels-min-an-1157557-c.jpg" width="150" height="110">
            </gallery>
        </div>
        <h6 style="font-size: 0.7em; color: brown"> All pictures and icons due to courtesy of Pexels and amChart.</h6>
    </div>
    <div class="column col-9">
        <div style="margin: 10px; 50px; 0px; 55px">
            <h3 style="color: darkblue">Hi!:-) <br>
                A couple of days off your work? Another weekend with no plans? Your boss sent you on a surprise vacation?
                So grab your travel bag, and visit some places abroad. I will find for you some cities with the nice
                weather, just let me know something about your preferences:
            </h3>
        </div>
        <div style="margin: 25px">
        <form method="POST" action="/results/">
            <div class="form-group">
                <label class="form-label">First of all let me know the dates, starting and ending your happy time: *</label>
                <input class="form-input" type="date" name="date_from" style="width: 15em">
                <input class="form-input" type="date" name="date_to" style="width: 15em">
            </div>
                <h6 style="font-size: 0.7em; color: magenta">
                    *) Due to fact, that updating the forecasts needs RapidAPI keys and free transfer limits,
                    for a trial use please check the date between Sept 01 - Sept 15, 2021.
                </h6>
                <div class="form-group">
                    <label class="form-label">Now let me know about the weather you like or not:</label>
                </div>

             <div class="columns" style="margin: 0px; 0px; 0px; 20px">
                <div class="column col-2">
                            <div align="center">
                                    <label><img src="static/day.svg"></label><br>
                                    <select name="sunnily">
                                    <option id="1a">With love:-)</option>
                                    <option id="1b">OK, accepted</option>
                                    <option id="1c">Rather not</option>
                                    <option id="1d">I hate it:-(</option>
                                </select>
                            </div>
                </div>
                <div class="column col-2">
                            <div align="center">
                                <label><img src="static/cloudy-day-3.svg"></label><br>
                                <select name="clouds">
                                    <option id="2a">With love:-)</option>
                                    <option id="2b">OK, accepted</option>
                                    <option id="2c">Rather not</option>
                                    <option id="2d">I hate it:-(</option>
                                </select>
                            </div>
                </div>
                <div class="column col-2">
                            <div align="center">
                                <label><img src="static/cloudy.svg"></label><br>
                                <select name="overcast">
                                    <option id="3a">With love:-)</option>
                                    <option id="3b">OK, accepted</option>
                                    <option id="3c">Rather not</option>
                                    <option id="3d">I hate it:-(</option>
                                </select>
                            </div>
                </div>
                <div class="column col-2">
                            <div align="center">
                                <label><img src="static/rainy-6.svg"></label><br>
                                <select name="rain">
                                    <option id="4a">With love:-)</option>
                                    <option id="4b">OK, accepted</option>
                                    <option id="4c">Rather not</option>
                                    <option id="4d">I hate it:-(</option>
                                </select>
                            </div>
                </div>
                <div class="column col-2">
                            <div align="center">
                                <label><img src="static/snowy-6.svg"></label><br>
                                <select name="snow">
                                    <option id="5a">With love:-)</option>
                                    <option id="5b">OK, accepted</option>
                                    <option id="5c">Rather not</option>
                                    <option id="5d">I hate it:-(</option>
                                </select>
                            </div>
                </div>
             </div>
                 <div class="form-group" style="margin: 10px; 0; 0; 0">
                        <label class="form-label">And finally give me your favorite temperature range from-to (C):</label>
                 </div>
             <div class="columns">
                <div class="column col-1">
                    <input class="form-input" type="float" value="19.5" name="temp_floor" style="width: 5em">
                </div>
                <div class="column col-1">
                    <input class="form-input" type="float" value="23.0" name="temp_cap" style="width: 5em">
                </div>

             </div>

            <div class="form-group">
                    <input class="form-input" type="hidden" value="find_it" name="procedure">
            </div>
            <div class="form-group" align="center">
                    <button type="submit" class="btn btn-primary">So let's check it!</button>
            </div>
        </form>
        </div>
    </div>
    <div>
    </div>
  </div>
</div>

</body>
</html>