<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEATHER</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
<div class="container">
  <div class="columns">
    <div class="column col-3" style="background-color: lightgray">
        <h3 style="margin: 40px">OBRAZEK Z IKONAMI:</h3>
    </div>
    <div class="column col-9">
        <h2 align="center", style="color: brown">POWITANIE</h2>
    </div>
    <div>
        <h5>PARAMETRY WYSZUKOWANIA</h5>
    </div>
  </div>
</div>

</body>
</html>